/* Taken from https://piccalil.li/blog/a-more-modern-css-reset/ */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --main-bg-color: #f8f8f8;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
:--heading,
p,
figure,
blockquote,
dl,
dd {
  margin: 1rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;

  --accent-color-1: #deccff;
  --accent-color-2: #deccff70;

  background-color: var(--main-bg-color);
  background-image: linear-gradient(
      30deg,
      var(--accent-color-1) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--accent-color-1) 87.5%,
      var(--accent-color-1)
    ),
    linear-gradient(
      150deg,
      var(--accent-color-1) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--accent-color-1) 87.5%,
      var(--accent-color-1)
    ),
    linear-gradient(
      30deg,
      var(--accent-color-1) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--accent-color-1) 87.5%,
      var(--accent-color-1)
    ),
    linear-gradient(
      150deg,
      var(--accent-color-1) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--accent-color-1) 87.5%,
      var(--accent-color-1)
    ),
    linear-gradient(
      60deg,
      var(--accent-color-2) 25%,
      transparent 25.5%,
      transparent 75%,
      var(--accent-color-2) 75%,
      var(--accent-color-2)
    ),
    linear-gradient(
      60deg,
      var(--accent-color-2) 25%,
      transparent 25.5%,
      transparent 75%,
      var(--accent-color-2) 75%,
      var(--accent-color-2)
    );
  background-size: 20px 35px;
  background-position:
    0 0,
    0 0,
    10px 18px,
    10px 18px,
    0 0,
    10px 18px;
}

/* Set shorter line heights on headings and interactive elements */
:--heading,
button,
input,
label {
  line-height: 1.1;
}

:--heading {
  /* Balance text wrapping on headings */
  text-wrap: balance;
  font-family: Bagnard, serif;
  font-weight: normal;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentcolor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End of content from https://piccalil.li/blog/a-more-modern-css-reset/ */

* {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

#main-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: var(--main-bg-color);
  box-shadow: 6px 6px 3px 1px rgb(20 20 20 / 30%);
}

#welcome-container {
  @media (width >= 992px) {
    display: flex;
  }
}

#hero {
  text-align: center;

  @media (width <= 991.98px) {
    width: 100%;
  }

  @media (width >= 992px) {
    flex: 5;
  }
}

#self-portrait {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
  margin-bottom: 5%;
}

#menu {
  @media (width <= 991.98px) {
    width: 100%;
  }

  @media (width >= 992px) {
    flex: 7;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.menu-item {
  /* Hover effect taken from https://github.com/IanLunn/Hover */
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    transform: translateX(8px);
  }

  display: table-row;

  a {
    text-decoration: none;
    color: currentcolor;
  }
}

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: purple;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
