/* Elements adapted from https://piccalil.li/blog/a-more-modern-css-reset/ */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@custom-media --narrow-window (width <= 991.98px);
@custom-media --normal-window (width >= 992px);

:root {
  --main-bg-color: #f8f8f8;
  --accent-color: #783d86;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
:--heading,
p,
figure,
blockquote,
dl,
dd {
  margin: 1rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;

  --accent-color-1: #deccff;
  --accent-color-2: #deccff70;
  --size: 100px;
  --cube-aspect-ratio: 1.8;

  background-color: var(--main-bg-color);
  background-image: linear-gradient(
      30deg,
      var(--accent-color-1) 12.5%,
      transparent 12.5% 87.5%,
      var(--accent-color-1) 87.5%
    ),
    linear-gradient(
      150deg,
      var(--accent-color-1) 12.5%,
      transparent 12.5% 87.5%,
      var(--accent-color-1) 87.5%
    ),
    linear-gradient(
      30deg,
      var(--accent-color-1) 12.5%,
      transparent 12.5% 87.5%,
      var(--accent-color-1) 87.5%
    ),
    linear-gradient(
      150deg,
      var(--accent-color-1) 12.5%,
      transparent 12.5% 87.5%,
      var(--accent-color-1) 87.5%
    ),
    linear-gradient(
      60deg,
      var(--accent-color-2) 25%,
      transparent 25% 75%,
      var(--accent-color-2) 75%
    ),
    linear-gradient(
      60deg,
      var(--accent-color-2) 25%,
      transparent 25% 75%,
      var(--accent-color-2) 75%
    );
  background-size: calc(var(--size) * 2)
    calc(var(--size) * var(--cube-aspect-ratio) * 2);
  background-position:
    0 0,
    0 0,
    calc(var(--size)) calc(var(--size) * var(--cube-aspect-ratio)),
    calc(var(--size)) calc(var(--size) * var(--cube-aspect-ratio)),
    0 0,
    calc(var(--size)) calc(var(--size) * var(--cube-aspect-ratio));
}

/* Set shorter line heights on headings and interactive elements */
:--heading,
button,
input,
label {
  line-height: 1.1;
}

:--heading {
  /* Balance text wrapping on headings */
  text-wrap: balance;
  font-family: Bagnard, serif;
  font-weight: normal;
}

/* Remove ugly underlines from links */
a {
  text-decoration: none;
  color: var(--accent-color);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End of content from https://piccalil.li/blog/a-more-modern-css-reset/ */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

#main-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: var(--main-bg-color);
  box-shadow: 6px 6px 3px 1px rgb(20 20 20 / 30%);
}

#welcome-container {
  @media (--normal-window) {
    display: flex;
  }
}

#hero {
  text-align: center;

  @media (--narrow-window) {
    width: 100%;
  }

  @media (--normal-window) {
    flex: 5;
  }
}

#self-portrait {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
  margin-bottom: 5%;
}

#menu {
  @media (--narrow-window) {
    width: 100%;
  }

  @media (--normal-window) {
    flex: 7;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.menu-item {
  /* Hover effect taken from https://github.com/IanLunn/Hover */
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    transform: translateX(8px);
    color: var(--accent-color);
  }

  display: table-row;

  a {
    color: currentcolor;
  }
}

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--accent-color);

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cv-section {
  /* table-layout: fixed; */
  width: 100%;

  th,
  td {
    vertical-align: top;

    h3,
    p {
      margin: 0.5rem;
    }
  }

  .cv-table-year {
    width: 12%;
  }
}

strong {
  font-weight: bold;
}

.blog-post {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

pre {
  width: auto;
  max-height: 600px;
  overflow: auto;
        color: #e9e9f4;
      background: #282936;
  border-radius: 10px;
  border: 1px solid;
  border-color: #111;
  scrollbar-color: #ccc transparent;
  margin: 20px 40px;
  padding: 5px 20px;
  word-wrap: normal;
  code {
    font-family: "IBM Plex Mono", monospace;
    text-indent: 0;
    white-space: inherit;
    /*!
  Theme: Dracula
  Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
    .hljs {

    }
    .hljs::selection,
    .hljs ::selection {
      background-color: #4d4f68;
      color: #e9e9f4;
    }
    /* purposely do not highlight these things */
    .hljs-formula,
    .hljs-params,
    .hljs-property {
    }
    /* base03 - #626483 -  Comments, Invisibles, Line Highlighting */
    .hljs-comment {
      color: #626483;
    }
    /* base04 - #62d6e8 -  Dark Foreground (Used for status bars) */
    .hljs-tag {
      color: #62d6e8;
    }
    /* base05 - #e9e9f4 -  Default Foreground, Caret, Delimiters, Operators */
    .hljs-subst,
    .hljs-punctuation,
    .hljs-operator {
      color: #e9e9f4;
    }
    .hljs-operator {
      opacity: 0.7;
    }
    /* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
    .hljs-bullet,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-selector-tag,
    .hljs-name,
    .hljs-deletion {
      color: #ea51b2;
    }
    /* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
    .hljs-symbol,
    .hljs-number,
    .hljs-link,
    .hljs-attr,
    .hljs-variable.constant_,
    .hljs-literal {
      color: #b45bcf;
    }
    /* base0A - Classes, Markup Bold, Search Text Background */
    .hljs-title,
    .hljs-class .hljs-title,
    .hljs-title.class_ {
      color: #00f769;
    }
    .hljs-strong {
      font-weight: bold;
      color: #00f769;
    }
    /* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
    .hljs-code,
    .hljs-addition,
    .hljs-title.class_.inherited__,
    .hljs-string {
      color: #ebff87;
    }
    /* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
    /* guessing */
    .hljs-built_in,
    .hljs-doctag,
    .hljs-quote,
    .hljs-keyword.hljs-atrule,
    .hljs-regexp {
      color: #a1efe4;
    }
    /* base0D - Functions, Methods, Attribute IDs, Headings */
    .hljs-function .hljs-title,
    .hljs-attribute,
    .ruby .hljs-property,
    .hljs-title.function_,
    .hljs-section {
      color: #62d6e8;
    }
    /* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
    /* .hljs-selector-id, */
    /* .hljs-selector-class, */
    /* .hljs-selector-attr, */
    /* .hljs-selector-pseudo, */
    .hljs-type,
    .hljs-template-tag,
    .diff .hljs-meta,
    .hljs-keyword {
      color: #b45bcf;
    }
    .hljs-emphasis {
      color: #b45bcf;
      font-style: italic;
    }
    /* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
    /*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-meta .hljs-string {
      color: #00f769;
    }
    /* for v10 compatible themes */
    .hljs-meta .hljs-keyword,
    .hljs-meta-keyword {
      font-weight: bold;
    }
  }
}
